$appHeaderZIndex: 8;
$chatZIndex: 9;
$screenBlockZIndex: 10;
$drawerZIndex: 11;
$modalZIndex: 12;
// Enable popovers to be placed inside of modals and drawers.
$popoverZIndex: 13;
$notificationsZIndex: 1000;
