$pageWidth: 1000px;
$breakpointExampleQuestionsAreCramped: 975px;
$breakpointContentIsCramped: 860px;
$breakpointFooterIsHeavy: 700px;
$breakpointTitleIsWrapped: 524px;
$breakpointTitleIsWrappedThreeLines: 407px;
