// Semantic colors
$colorAccent: #7027f6 !default;
$colorPrimary: rgb(38, 76, 214) !default;
$colorPrimaryLight: rgb(222, 229, 255) !default;
$colorSuccess: #04821f !default;
$colorWarning: #965a15 !default;
$colorDanger: #c41535 !default;
$colorDangerLight: #fae9eb !default;

// Semantic shades
$colorAccentLightShade: #eadfff !default;
$colorDangerLightShade: #ffd7d7 !default;

// Neutral colors
$colorEmptyShade: #ffffff !default;
$colorLightShade: #f3f7fb !default;
$colorMediumShade: #cbcdde !default;
$colorDarkShade: #69707d !default;
$colorDarkerShade: #2c313a !default;
$colorFullShade: #000 !default;
