$size: 16px !default;

$sizeXxs: $size * 0.25 !default;
$sizeXs: $size * 0.5 !default;
$sizeS: $size * 0.75 !default;
$sizeM: $size * 1 !default;
$sizeL: $size * 1.5 !default;
$sizeXl: $size * 2 !default;
$sizeXxl: $size * 2.5 !default;
